<div class="collapse small link-light" id="collapse_<%= participation.id %>">
  <div>
    <span class="email"><%= participation.user&.email %></span><br>
    <%= participation.user&.country&.name %>
    <%= product_configuration_full_display(participation&.transactions&.includes([:product_configuration])) %>
  </div>
</div>