<nav class="nav nav-pills" id="participation_collapse">
  <%= link_to t('participants'), "#participent",
      class: "flex-fill text-center nav-link active",
      aria: {current: "participent"},
      data: {  bs_toggle: "pill", bs_target: "#participent"} %>
  <%= link_to t('animators'), "#animent",
      class: "flex-fill text-center nav-link",
      aria: {current: "animent"},
      data: {  bs_toggle: "pill", bs_target: "#animent"} %>
</nav>
