<div class="text-end">
  <%= link_to fa_icon("download", text: t("registration_form_pdf.download")), training_session_registrations_form_path(@training_session.uuid, format: :pdf), class: "link-secondary border-0 bg-transparent p-0" %>
</div>
