<div class="flex-grow-1">
  <input type="text" id="search-paricipants" class="form-control rounded-pill" placeholder="<%= t('search') %>" data-action="input->search-participants#filterParticipants">
</div>
