<div class="col-lg-6 mx-auto mb-3">
  <div class="fs-5 fw-bold my-2" id="welcome_message">
    <%= t("hello_name", name: current_user.firstname&.titleize_with_dashes) %>
  </div>
  <div class="mx-auto">
    <div class="text-center mt-2">
      <%= link_to new_training_session_path, class: "btn btn-primary rounded-pill" do %>
        <%= fa_icon("plus", text: t("training_sessions.new"), right: true) %>
      <% end %>
    </div>
  </div>
  <% @my_training_sessions&.each do |my_training_session| %>
    <%= render "card", training_session: my_training_session %>
  <% end %>
</div>
