.belt_white_bg {
 background-color: #F2F2F2;
}
.belt_yellow_bg {
 background-color: #F5D600;
}

.belt_orange_bg {
 background-color: #EE6312;
}

.belt_green_bg {
 background-color: #0C8B31;
}

.belt_blue_bg {
 background-color: #2C4F9B;
}

.belt_blue_color {
  color: #2C4F9B;
 }

 .belt_green_color {
  color: #0C8B31;
 }

 .belt_orange_color {
  color: #EE6312;
 }

 .belt_yellow_color {
  color: #FFC107;
 }

 .belt_white_color {
  color: #706F71;
 }
