.border-primary {
  border: 1px solid $primary !important;
}
.border-warning {
  border: 1px solid $warning !important;
}
.border-success {
  border: 1px solid $success !important;
}
.border-light2 {
  border: 1px solid #d1d1d1 !important;
}
.border-bottom-light {
  border-bottom: 1px solid #d1d1d1 !important;
}
