.text-secondary,
.link-secondary {
  color: $secondary !important;
}
.link-secondary:hover {
  cursor: pointer;
}
.text-light,
.link-light {
  color: $light !important;
}
.text-warning,
.link-warning {
  color: $warning !important;
}
.text-white,
.link-white  {
    color: #fff !important;
}
.text-green,
.link-green  {
    color: $green !important;
}
.text-transparent,
.link-transparent  {
    color: rgba(255, 255, 255, 0) !important;
}
.text-primary,
.link-primary {
  color: var(--primary-color) !important;
}
.link-primary:hover {
  color: var(--primary-color) !important;
  filter: brightness(70%);
  cursor: pointer;
}
