<div class="border-bottom-light p-3 search-participants-card">
  <div class="d-flex justify-content-between align-items-center">
    <%= link_to("#collapse_#{participation.id}",
              class: "d-block link-secondary text-decoration-none collapse_action flex-grow-1",
              data: {bs_toggle: "collapse"}) do %>
      <div class="d-flex justify-content-between align-items-center">
        <div class="link-secondary">
          <%= render "open_fresk/session_partials/participant_card_info", participation: participation %>
        </div>
      </div>
    <% end %>
    <div>
      <%= link_to(fa_icon("user-plus"),
                  session_participation_path(participation, training_session_id: @training_session.id),
                  data: { turbo_method: :patch },
                  class: "link-primary h5") %>
    </div>
  </div>

  <%= render "open_fresk/session_partials/participant_collapse", participation: participation %>
</div>
