<div class="mt-3">
  <%# @present_participations.each do |participation| %>
    <%#= render "participant_card_present", participation: participation %>
  <%# end %>
<!---->
  <%#= render "open_fresk/session_participations/participant_anonymous" %>
</div>