<!-- PARTICIPANTS CARDS -->
<div class="tab-pane fade show active pt-3 mx-2" id="participent">
    <%= render partial: "open_fresk/session_participations/participants_top_actions" %>

    <div class="mt-3">
        <% participations.each do |participation| %>
          <% unless participation.present? %>
            <%= render partial: "participant_card",
                locals: {participation: participation} %>
          <% end %>
        <% end %>

    </div>
</div>