// MAIN
.btn-sm {
  border: 1px solid 099e9b !important;
}

// PRIMARY

.btn-primary {
  background-color: var(--primary-color) !important ;
}

// DANGER
.btn-danger {
  background-color: rgba($danger, 0.3) !important;
  border: 0px !important;
  color: $danger !important;
}
.btn-danger:hover {
  background-color: rgba($danger, 0.5) !important;
}

// SQUARE
.btn-square-40 {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-decoration: none;
}
