  .nav,
  .nav-pills {
    font-weight: 700;
    .nav-link.active {
      margin: 0px 5px;
      color: var(--primary-color) !important;
      background-color: #fff !important;
      border-bottom: 2px solid var(--primary-color);
      border-radius: 0px !important;
    }
    .nav-link.active:hover {
      background-color: var(--primary-color) !important;
      color: #fff !important;
    }
    .nav-link:not(.active) {
      margin: 0px 5px;
      background-color: #fff;
      color: rgba(var(--secondary-color), 0.8) !important;
      border-bottom: 2px solid rgba(var(--secondary-color), 0.8);
      border-radius: 0px !important;
    }
    .nav-link:not(.active):hover {
      background-color: rgba(var(--secondary-color), 0.2) !important;
      color: var(--secondary-color) !important;
    }
  }
