.pagination {
  .page-link {
    color: var(--primary-color);
  }
  .page-item.active .page-link {
      z-index: 3;
      color: #fff;
      background-color: var(--primary-color);
      border-color: var(--primary-color);
  }
}
