input[type="radio"].checked_radio_button:checked + label {
  background-color: var(--primary-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="radio"].checked_radio_button:not(:checked) + label {
  background-color: #fff;
  color: var(--primary-color);
  border-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="radio"].checked_radio_button:disabled + label {
  background-color: #fff;
  color: $secondary;
  border-color: $secondary;
  display: flex;
  align-items: center;
  justify-content: center;
}
