select.select_custom {
  /* Reset styles, including removing the default dropdown arrow */
  background-color: transparent;
  border: none;
  outline-color: var(--secondary-color);
  color: var(--secondary-color);
  cursor: pointer;
  padding: 5px;
}
