.slidecontainer {
  width: 100%; /* Width of the outside container */
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: $primary;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: $primary;
  cursor: pointer;
}

.range_slider_value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: $secondary;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: $light;
    padding: 4px 5px;
    margin-left: 0px;
}
.range_slider_value::after {
    border-top-color: transparent;
    border-right-color: $light;
    border-bottom-color: transparent;
}
.range_slider_value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid $light;
    border-bottom: 7px solid transparent;
    content: "";
}
