.tooltip .tooltip-inner {
  background-color: $secondary;
  color: $dark;
  opacity: 1;
}
.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: $secondary;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: $secondary;
}

.tooltip.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: $secondary;
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: $secondary;
}
